<!DOCTYPE html>
<html lang="pt-BR">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's <%= titulo %></title>
    <link rel="stylesheet" href="/estilo.css">
  </head>
  <body>
    <section>
      <%- body -%>
    </section>
    <script src="/script.js"></script>
  </body>
</html>
