* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 80%;
	margin: 1vh auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-inicio,
#nav-produto-inicio {
	width: 100%;
	overflow: auto;
	margin-top: 10vh;
}

#nav-inicio a ,#nav-produto-inicio a{
	float: left;
	padding: .5cm;
	text-decoration: none;
	font-size: 1cm;
	width: 33.33%;
	text-align: center;
}

@media screen and (max-width: 500px) {
	#nav-inicio a, #nav-produto-inicio a{
		float: none;
		display: block;
		width: 100%;
		text-align: center;
		/* If you want the text to be left-aligned on small screens */
	}
}



/*
h1{
	color:red;
}
label{
	display:block;
	border:1px solid black;
}
#nav-inicio a{
	display:block;
	padding:1rem;
}

.poe-carrinho{
 	background-color:#48D1CC55;
	padding:.5em 1em;
}
.tira-carrinho{
		background-color:#FF634755;
	padding:.5em 1em;

}
.header{
	color:red;
	
}

.card{

	border:1px solid #33a;
	margin:2px auto;
	padding:3px;
}
.sim{
	background-color:#dF634755;

}
.omitir{
	display:none;
	border:2px solid purple;
}
*/